/*.navbar {
    width: 100px;
    height: 100px;
    position: fixed;
    top:65%;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: auto;
    transform: translate(-50%,-50%);
}
#navbar2 {
	width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}
    */
    